body {
    background-image: url('img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.logo {
    text-align: center;
    margin-top: 20px;
}

header {
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

li {
    margin-top: 5px;
    list-style-type: none;
    padding: 0;

}

li:hover {
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

.updates-image {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: 500px;
    border-radius: 10px;
}

p {
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 40px auto;
    max-width: 50%;
}

.content {
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px auto;
    max-width: 50%;
    
}

