body {
    background-image: url('img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

logo {
    padding: calc(10vh - 50px) calc(50vw - 100px);
}

Header {
    position: absolute;
    top: 10vh;
    left: 37vw;
    color: white;
    font-size: 2em;
}



section {
    position: relative;
    padding-top: 20vh;
    top: 60vh;
    left: 37vw;
    color: white;
    font-size: 1.2em;
}